*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}
#nav{
    height: 55 px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 5px 30px;
    
}
#nav h4{
    font-size: 20px;
    font-weight: 500;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 450;
}
h1{
    padding: 40px 80px;
    
    font-size: 70px;
    font-weight: 500;
    /* background-color: yellow; */
}
#center{
    padding: 90px;
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    
}
#left{
    width: 50%;
    /* background-color: green; */
}

#left h4{
    font-size: 22px;
    font-weight: 530;
    line-height: 30px;
    /* background-color: blueviolet; */
    width: 70%;
    
}
#right{
    /* background-color: brown; */
    width: 20%;
    
}
.rm{
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 500;
    border-top: 2.5px solid black;

}
.rm i{
    font-size: 20px;

    opacity: 0;

}
#bottom{
    /* background-color: red; */
    width: 100%;
    height: 60%;
    background: url(model.jpg);
    background-size: cover;
    background-position: 10% 50%;
   

}

 .rm a{
  color: black;
  text-decoration: none;
 }
 .rm:hover i{
    opacity: 1;
    

}
.rm:hover a{
    text-decoration: underline;
    
}
.rm:hover {
    background-color: rgb(208, 201, 201);
}